{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'output_page.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Output Page</title>
</head>
<body>
    <a href="/stt/"><i class="fa fa-home fa-3x" ></i></a>
    <div class="body">
        <div class="container">
            <div class="header">
                <h1 id="Feature-selected">Result</h1>
            </div>
            <div id="pdf">   
                <textarea rows="18" cols="125">{{ content }}</textarea>
            </div>
            <input type="button" value="Print Output" onclick="printDiv('pdf','Title')">
        </div>  
        
    </div>
    <script src="{% static 'output_page.js' %}"></script>
</body>
</html>